body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.box {
  width: 100px;
  height: 100px;
  background: steelblue;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
